/Greeter/nbproject/private/
/Greeter/build/
/Greeter/dist/
/JUnitLab/JUnit-Sample/nbproject/private/
/JUnitLab/JUnitSampleSol/nbproject/private/
/JUnitLab/JUnit-Sample/build/
/420/MovingCars/nbproject/private/
/420/AnimationTester/nbproject/private/
/420/AnimationTester/build/
/BankingApp/BankApp/nbproject/private/
/BankingApp/BankApp/build/
/Lab7/nbproject/private/
/Lab7/build/
/PairApp/nbproject/private/
/PairApp/build/